name: Build image on tag push

on:
  push:
    tags:
      - "v*.*.*"
      - "pre-v*.*.*"
  workflow_dispatch:

env:
  IMAGE_NAME: "ghcr.io/${{ github.repository_owner }}/seafile-professional"

jobs:
  init-vars:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.extract_github_ref_version.outputs.version }}
      prerelease_bool: ${{ steps.set_prerelease.outputs.prerelease_bool }}
      git_tag_prefix: ${{ steps.extract_github_ref_prefix.outputs.git_tag_prefix }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      - name: Validate github.ref format in case of others triggers used
        id: validate_github_ref
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            echo "Manual trigger, skipping validation"
          elif [[ ! "${{ github.ref }}" =~ ^refs/tags/(pre-|)v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "Invalid github.ref format"
            exit 1
          fi
      - name: Extract version from github.ref
        id: extract_github_ref_version
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            echo "version=manual" >> $GITHUB_OUTPUT
          else
            echo "version=$(echo ${{ github.ref }} | awk -F/ '{print $3}' | awk -Fv '{print $2}')" >> $GITHUB_OUTPUT
          fi
      - name: Set git_tag_prefix to testing or release depending on git tag
        id: extract_github_ref_prefix
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            echo "git_tag_prefix=" >> $GITHUB_OUTPUT
          else
            echo "git_tag_prefix=$(echo ${{ github.ref }} | awk -F/ '{print $3}' | awk -Fv '{print $1}')" >> $GITHUB_OUTPUT
          fi
      - name: Set prerelease to true or false depending on git tag prefix
        id: set_prerelease
        run: |
          if [[ "${{ steps.extract_github_ref_prefix.outputs.git_tag_prefix }}" == "pre-" ]]; then
            echo "prerelease_bool=true" >> $GITHUB_OUTPUT
          elif [[ "${{ steps.extract_github_ref_prefix.outputs.git_tag_prefix }}" == "" ]]; then
            echo "prerelease_bool=false" >> $GITHUB_OUTPUT
          fi

  build-image-on-push:
    runs-on: ubuntu-22.04
    needs:
      - init-vars
    permissions:
      contents: read
      packages: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      # Initalized here to prevent a second repo checkout
      - name: Set short git commit SHA / needs repo checkout
        id: get_commit
        run: echo "short_sha=$(git rev-parse --short ${{ github.sha }})" >> $GITHUB_OUTPUT
      - name: Set current time
        id: current_time
        run: echo "time=$(date --iso-8601=seconds)" >> $GITHUB_OUTPUT
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: docker
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:commit-${{ steps.get_commit.outputs.short_sha }}
            ${{ env.IMAGE_NAME }}:${{ needs.init-vars.outputs.git_tag_prefix }}${{ needs.init-vars.outputs.version }}
